.about-section {
  @media screen and (max-width: 1199px) {
    display: none;
  }
  display: block;
}

.about {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.about__item {
  display: flex;
  align-items: flex-end;
}

.about__overlay {
  overflow: hidden;
  position: relative;
  bottom: 0;
}

.about__overlay-text {
  position: absolute;
  bottom: 0;

  width: 100%;
  height: 70px;
  padding: 27px 0;

  font-family: $main-font;
  font-weight: 700;
  line-height: 1.14;
  color: $main-bg-color;
  text-transform: uppercase;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
}
