footer {
  background-color: $footer-color;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-main {
  display: flex;
  color: $main-bg-color;
  @media screen and (min-width: 320px) and (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
  @media screen and (min-width: 768px) and (max-width: 1200px) {
    flex-direction: column;
    // align-items: baseline;
  }

  @media screen and (min-width: 1200px) {
    // flex-direction: column;
    // text-align: center;
    justify-content: space-between;
  }
}

.footer-link-wrapper {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-around;
  }
}

.footer-main__left {
  @media screen and (min-width: 768px) {
    margin-right: 90px;
    text-align: center;
  }
  @media screen and (min-width: 1200px) {
    text-align: unset;
  }
}

.footer-logo {
  display: block;
  font-family: $secondary-font;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: $main-bg-color;
  margin-bottom: 20px;
}

.footer-location__link {
  display: block;
}

.link_position {
  margin-bottom: 9px;
  margin-top: 9px;
}

.footer-location__list {
  margin-bottom: 60px;
}

.footer-location__link {
  font-family: Roboto;
  font-style: normal;
  line-height: 1.71;
  color: $main-bg-color;
  transition: color 250ms $main-effects;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.link_color {
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms $main-effects;
}

.footer-soc {
  margin-bottom: 60px;
  @media screen and (min-width: 1199px) {
    margin-right: 30px;
  }
}

.footer-soc__title {
  text-transform: uppercase;
  display: block;
  text-align: center;
  @media screen and (min-width: 1199px) {
    text-align: left;
  }
}

.title_position {
  margin-bottom: 20px;
}

.footer-position {
  margin-top: 20px;
}

.footer-right {
  // text-align: center;
  @media screen and (min-width: 767px) {
    text-align: center;
  }
  @media screen and (min-width: 1199px) {
    text-align: unset;
  }
}

.footer-right__title {
  text-transform: uppercase;
  // @media screen and (min-width: 767px) {
  //   text-align: center;
  // }
}

.footer-right__title_position {
  margin-bottom: 50px;
}

.footer-form {
  @media screen and (max-width: 1199px) {
    // margin-top: 60px;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
}

.footer-form__input {
  background-color: $footer-color;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  font-size: 16px;
  line-height: 1.25;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  padding: 15px;
  color: $main-bg-color;

  &:focus {
    border-color: $accent-color;
  }
  @media screen and (max-width: 767px) {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .input_position {
    margin-right: 12px;
  }
}

.footer-btn {
  display: inline-flex;
  align-items: center;
  width: 100%;
  padding-right: 28px;
  padding-left: 29px;
  width: 200px;
}

@media screen and (min-width: 320px) and (max-width: 1199px) {
  .footer-btn {
    margin-top: 20px;
  }
}

.footer-btn__icon {
  margin-left: 10px;
  fill: $main-bg-color;
}
