.main-menu {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 25px;

  @media screen and (min-width: 768px) {
    justify-content: center;
  }
  @media screen and (min-width: 1200px) {
    justify-content: center;
    margin-bottom: 50px;
  }
}
.main-menu__item:not(:last-child) {
  margin-right: 8px;
}

.main-menu__btn {
  font-family: $main-font;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: $title-text;
  background-color: $section-bacground-color;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);

  transition: background-color 250ms $main-effects, color 250ms $main-effects;
  &:hover,
  &:focus {
    background-color: $accent-color;
    color: $main-bg-color;
    outline: none;
  }
  margin-bottom: 15px;
  @media screen and (min-width: 1200) {
    margin-bottom: 0;
  }
}

.example-card {
  display: flex;
  flex-wrap: wrap;
  @media screen and (max-width: 479px) {
    display: unset;
  }
}

.example-card_position {
  margin-left: -30px;
}

.example-card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: $title-text;
}

.example-card__text {
  font-size: 16px;
  line-height: 1.87;
  color: $main-text;
}

.example-card__wrapper {
  position: relative;
  pointer-events: none;
  overflow: hidden;
  flex-shrink: 0;
  &::before {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    transform: translateY(100%);

    transition: transform 250ms $main-effects;
  }
}

.example-card__item {
  display: flex;
  flex-direction: column;

  flex-basis: calc((100% - 90px) / 3);
  transition: box-shadow 250ms $main-effects;

  &:hover {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
      1px 4px 6px rgba(0, 0, 0, 0.16);
  }

  &:hover .example-card__wrapper::before,
  &:hover .example-card__overlay {
    transform: translateY(0);
  }
}

@media screen and (min-width: 480px) {
  .example-card__item {
    flex-basis: calc((100% - 30px) / 1);
  }
}

@media screen and (min-width: 767px) {
  .example-card__item {
    flex-basis: calc((100% - 60px) / 2);
  }
}

@media screen and (min-width: 1200px) {
  .example-card__item {
    flex-basis: calc((100% - 90px) / 3);
  }
}
.example-card__item_position {
  margin-left: 30px;
  margin-bottom: 30px;
  @media screen and (max-width: 480px) {
    margin-left: unset;
  }
}

.example-card__description {
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  padding: 20px 24px;
  height: 100%;
}

.example-card__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms $main-effects;
  background-color: rgba(33, 150, 243, 0.9);
}

.example-card__info {
  color: $main-bg-color;
  font-family: $main-font;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
}

.example-card__info_position {
  margin: 63px 24px;
}
