.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms $main-effects, transform 250ms $main-effects,
    visibility 250ms $main-effects;
}

.is-hidden .modal {
  transform: scale(0.1);
  transition: transform 250ms $main-effects;
}
