.section-title {
  text-align: center;
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  color: $title-text;
  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.16;
  }
}
