$accent-color: #2196f3;
$main-text: #757575;
$title-text: #212121;
$main-bg-color: #ffffff;
$main-font: Roboto, sans-serif;
$secondary-font: Raleway, sans-serif;
$footer-color: #2f303a;
$section-bacground-color: #f5f4fa;
$main-effects: cubic-bezier(0.4, 0, 0.2, 1);
